In [1]:
import pandas as pd

In [2]:
dfs = []

In [3]:
for i in range(1, 16):
    link = f'https://www.foreign-trade.com/reference/hscode.htm?cat={i}'
    df = pd.read_html(link)
    dfs.append(df[0])

In [4]:
data = pd.concat(dfs, axis=0).reset_index(drop=True)

In [5]:
data

           0                                                  1
0        NaN                                                NaN
1        1.0                                      ANIMALS; LIVE
2      101.0             Horses, asses, mules and hinnies; live
3      102.0                               Bovine animals; live
4      103.0                                        Swine; live
...      ...                                                ...
1408  9702.0       Engravings, prints and lithographs; original
1409  9703.0  Sculptures and statuary; original, in any mate...
1410  9704.0  Stamps, postage or revenue; stamp-postmarks, f...
1411  9705.0  Collections and collectors' pieces; of zoologi...
1412  9706.0    Antiques; of an age exceeding one hundred years

[1413 rows x 2 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413 entries, 0 to 1412
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1317 non-null   float64
 1   1       1317 non-null   object
dtypes: float64(1), object(1)
memory usage: 22.2+ KB

In [7]:
data = data.loc[data[0].notnull()].reset_index(drop=True)

In [12]:
data[0] = data[0].astype('int')

In [14]:
data

         0                                                  1
0        1                                      ANIMALS; LIVE
1      101             Horses, asses, mules and hinnies; live
2      102                               Bovine animals; live
3      103                                        Swine; live
4      104                              Sheep and goats; live
...    ...                                                ...
1312  9702       Engravings, prints and lithographs; original
1313  9703  Sculptures and statuary; original, in any mate...
1314  9704  Stamps, postage or revenue; stamp-postmarks, f...
1315  9705  Collections and collectors' pieces; of zoologi...
1316  9706    Antiques; of an age exceeding one hundred years

[1317 rows x 2 columns]

In [15]:
data = data.loc[data[0].isin([i for i in range(1, 97)]), :]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 0 to 1289
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       95 non-null     int32
 1   1       95 non-null     object
dtypes: int32(1), object(1)
memory usage: 1.9+ KB

In [17]:
data

       0                                                  1
0      1                                      ANIMALS; LIVE
7      2                         MEAT AND EDIBLE MEAT OFFAL
18     3  FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...
27     4  DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
38     5  ANIMAL ORIGINATED PRODUCTS; NOT ELSEWHERE SPEC...
...   ..                                                ...
1259  92  MUSICAL INSTRUMENTS; PARTS AND ACCESSORIES OF ...
1267  93  ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
1275  94  FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPO...
1282  95  TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A...
1289  96                MISCELLANEOUS MANUFACTURED ARTICLES

[95 rows x 2 columns]

In [18]:
data = data.reset_index(drop=True)

In [ ]:
data.columns = ['code', 'description']

In [19]:
data.to_csv('./products.csv', index=False)